{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4" id="card">
    <div class="card">
        <div class="card-header">
            <h2 style="background-color:rgb(1, 8, 15); text-align: center;color:white;">GENQ KYC FORM</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}